<p><%= @shop.name %></p>
<p><%= @shop.name %>' time table</p>



<ul>
  <% @slots.each do |slot| %>
    <li> <%= slot.start_at.strftime("%H:%M") %> - <%= slot.end_at.strftime("%H:%M") %> </li>
  <% end %>
</ul>
